@page "/"

<PageTitle>Memory</PageTitle>


<div class="container">
  
    @if (_game.GameWon)
    {        
        <img class="victoryImage" alt="Card_back" src=@($"images/victory.jpg") />     
    }

    else
    {
        <div class="game-board">
            @foreach (Domain.Card card in _cards)
            {
                <div @onclick="() => CardClicked(card)">
                    @if (card.IsFaceUp)
                    {
                        <img class="gameImage" alt="Card_@card.Number" src=@($"images/image{card.Number}.jpg") />
   
                    }
                    else
                    {
                        <img class="gameImage" alt="Card_back" src=@($"images/cardback.jpg") />
                    }
                </div>
            }
        </div>
    }

</div>


